.App {
  text-align: center;
  background-color: black;
  padding: 40px;
  font-family: sans-serif;
  color: rgb(232, 243, 247);
}

body {
  background-image: url('https://designdroide.com/images/lightning-bolt-5.svg');
}

h2 {
  color: rgb(255, 255, 176);
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
